body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
    /*  TODO */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 7px;
    padding-right: 230px;
}
.nav-right {
    /*  TODO */
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-left: 90px;
}
.nav-center {
    /*  TODO */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 5px;
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin : 20px -6px 0px 60px;
    background-color: rgba(231, 208, 241, 0.436);
}
.video {
   /*  TODO */
   display: flex;
   flex-direction: column;
   padding: 7px 0px 0px 7px;
   width: 345px;
}
.video-thumbnail img {
   /*  TODO */
   width: 100%;
   height: 214px;
}
.video-text {
  /*  TODO */
  display: flex;
  flex-direction: row;
  gap : 10px;
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}